
 .lawson a{
  color: white;
  text-decoration: none;
} 


.lawson-box-img {
  background-image: url("Lawson_delta.png") !important;
  background-position: left;
  height: 600px;
  width: 600px;
  
  background-repeat: no-repeat
}

#golden {
  position: relative;
  left:57%;
  top:15%;
} 

#blanc {
  position: relative;
  left:32%;
  top:11.5%
}

#arden {
  position: relative;
  left:68%;
  top:34%;
} 

#copyright {
  font-style: italic;
  text-align: center;
  font-size: small;
  color: black !important;
}

